<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
  <div class="box">
    <div class="box-header">

      <h3 class="box-title">Signals</h3>
      <div class="box-tools">

      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <div class="text-right">
            <label>Search by Pair:
              <input type="search" class="form-control input-sm" placeholder="BTC" ng-model="search.pair">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table class="table table-hover no-margin">
            <thead>
            <tr>
              <th>pair</th>
              <th>type</th>
              <th>longTermAvarage</th>
              <th>midTermAvarage</th>
              <th>shortTermAvarage</th>
              <th>quickTermAvarage</th>
              <th>longTermMin</th>
              <th>longTermMax</th>
              <th>CCI</th>
              <th>action</th>
              <th>lastTime</th>
              <th>lastClosePrice</th>
              <th>interval</th>
            </tr>
            </thead>

            <tbody *ngIf="signalService.signals.length">
             <tr *ngFor='let item of signalService.signals'>
              <td>{{item.pair}}</td>
              <td>{{item.type}}</td>
              <td>{{item.longTermAvarage }}</td>
              <td>{{item.midTermAvarage }}</td>
              <td>{{item.shortTermAvarage }}</td>
              <td>{{item.quickTermAvarage }}</td>
              <td>{{item.longTermMin }}</td>
              <td>{{item.longTermMax }}</td>
              <td>{{item.CCI}}</td>
              <td>{{item.action}}</td>
              <td>{{item.lastTime}}</td>
              <td>{{item.lastClosePrice }}</td>
              <td>{{item.interval}}</td>
            </tr>
            </tbody>
          </table>
        </div>


        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- /.content -->
</div>
